[Unit]
Description=squid-cache-art container
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop squid-cache-art
ExecStartPre=-/usr/bin/docker rm squid-cache-art
ExecStart=/usr/bin/docker run --rm --name squid-cache-art -p 3128:3128 -v /srv/vg1/lv1/squid-cache-art/squid.conf:/etc/squid/squid.conf:ro b4tman/squid 

[Install]
WantedBy=default.target
